# *******************************************************************************
# Copyright (C) Altera Corporation
#
# This code and the related documents are Altera copyrighted materials and your
# use of them is governed by the express license under which they were provided to
# you ("License"). This code and the related documents are provided as is, with no
# express or implied warranties other than those that are expressly stated in the 
# License.
# *******************************************************************************/

[Unit]
Description=vfr-drm driver from OCS 

[Service]
Type=oneshot
ExecStart=/usr/bin/vfr_drm_ocs2dto.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
